<html>

<head>
    <title>NG|Movies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">

</head>

<body>
    <h1 id="searchResultsHeading">Search Results <span style="color: darkgreen;"> :: </span><%=searchQuery.toUpperCase()%></h1>

    <% data['results'].forEach((movies)=>{ %>

    <div class="card mb-5 w-75">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/<%=movies['poster_path']%>" class="card-img img-fluid">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title"><%=movies['original_title']%></h2>
                    <hr>
                    <p class="card-text"><%=movies['overview']%></p>
                    <hr>

                    <br>

                    <p class="card-text"><b><tt>Date Published :</tt><%=movies['release_date']%></b></p>
                    <p class="card-text"><b><tt>Total Votes :</tt><%=movies['vote_count']%></b></p>
                    <p class="card-text"><b><tt>Average Rating :</tt><%=movies['vote_average']%></b></p>
                </div>
            </div>
        </div>
    </div>

    <% }); %>


</body>

</html>